html,
body {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}

.pointer-cursor {
  cursor: pointer;
}

.moneytou-label {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #373a3c;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

@media(max-width: 768px) {
  #home {
    text-align: center;
  }

  #footer {
    text-align: center;
  }
}

.navbar {
  text-transform: uppercase;
  font-family: 'Alegreya Sans', sans-serif;
}

/*MAIN*/
#main {
  padding-bottom: 3rem;
}
/*END MAIN*/

/*FOOTER*/
#footer {
  padding: 2rem 0;
  background-color: #484848;
  color: white;

  a {
    color: white;
  }

  .fa {
    padding: 0 5px;
  }
}

/*END FOOTER*/

/* TABS upside down */
.tab-content {
  padding: 10px;
  border-bottom: 0;
}

.nav-tabs {
  border-bottom: 0;
  border-top: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: 0;
  margin-top: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid #ddd;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top-color: transparent;
}
/* END TABS upside down */
