$border-color: rgba(0, 0, 0, 0.15);

.new-cash-flow-item {
  border: 1px solid $border-color;
  border-radius: .3rem;

  input {
    border: none;
  }

  & &__addon {
    background-color: white;
    border: none;
  }

  & .form-control:focus {
    border: none;
    box-shadow: none;
  }

  .badge {
    transform: translateY(50%);
    height: 22px;
    margin: 0 2px;
    font-size: 90%;
  }

  .show .dropdown-menu {
    display: block;
  }

  .dropdown {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;

    input.form-control {
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
      padding: .5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }

  .dropdown-menu {
    padding: 8px 0;
  }

  .pointer {
    cursor: pointer;
  }

  ::-ms-clear {
    display: none;
  }

  .label-color-sample {
    transform: translateY(23%);
    position: absolute;
    border: 1px solid black;
    width: 14px;
    height: 14px;
    font-size: 11.5px;
    padding: 0 1px;
    text-align: center;
  }
}
